.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 20px;
}
.navlink{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: white;
}
.header-container span{
    color: rgb(7, 2, 255);
}