.trends-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.trends:hover{
    background-color: rgba(57, 182, 255, 0.432);
}
.trends:hover Button{
    background-color: white;
    color: rgb(0, 70, 128);
    border: 1px solid rgb(0, 166, 216);
}
.trends{
    height: fit-content;
    border: 2px solid rgb(0, 166, 216);
    border-radius: 10px;
    margin: 50px 40px;
}
.trends h4{
    padding-top: 10px;
    font-weight: 700;
}
.trends img{
    margin-top: 10px;
    height: 300px;
    width: 60%;
    border: 2px double rgb(0, 166, 216);
}
.trends-btn{
    margin: 20px;
    padding: 5px 20px;
    background-color: rgba(57, 182, 255, 0.432);
    font-weight: 700;
}